.sidebar {
  display: flex;
  justify-items: center;
  background: transparent;
  position: relative;
  height: 100vh;
  overflow-y: auto;
  padding-left: 24px;
  z-index: 1; /* Đảm bảo Sidebar nằm trên các phần tử khác */
}

.sidebar-container {
  position: relative;
  z-index: 2; /* Đảm bảo nội dung trong Sidebar nằm trên hình nền */
}

.title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 4px;
  position: sticky;
  top: 60px;
  z-index: 3; /* Đảm bảo tiêu đề nằm trên hình nền */
  background: transparent;
  padding: 10px 0;
}
