.footer {
  background-color: #f5f5f5;
  padding: 20px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-info,
.footer-links,
.footer-social {
  width: 30%;
}

.footer-links {
  display: flex;
}

.footer-links > div {
  width: 33.33%;
}

.footer-social .social-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-social .social-icons a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

.footer-social .social-icons a:hover {
  color: #0073e6;
}

/* Responsive screen */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-info,
  .footer-links,
  .footer-social {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-links {
    flex-direction: column;
  }
}

.zalo-icon {
  width: 20px;
  height: 20px;
}
