@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&family=Montserrat:wght@400;500;700&display=swap");

html,
body {
  font-family: "Be Vietnam", sans-serif;
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}

body {
  .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
  }

  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }

  .tippy-content {
    padding: 8px 9px;
  }

  .tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
    top: -8px;
  }
}

.layout-content {
  display: flex;
  height: 100vh;
}

.content {
  flex: 1; /* Content occupies the remaining width */
  padding: 20px;
  overflow-y: auto;
  padding-top: 45px;
}
